body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}

.App {
  background-image: url("./background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
}

.home-container,
.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}

.home-container button,
.question-container button {
  width: 100%;
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.home-container button:hover,
.question-container button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 50%,
    rgba(9, 9, 121, 1) 100%
  );
  transform: scale(1.05);
}

.correct {
  background-color: #28a745;
}

.wrong {
  background-color: #dc3545;
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  background-color: rgba(65, 65, 65, 0.7);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  margin: 0 auto;
}

.result-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.result-box p {
  font-size: 18px;
  margin-bottom: 10px;
}

.result-box .score {
  font-weight: bold;
}

.result-box .correct-answers {
  color: #28a745;
}

.result-box .wrong-answers {
  color: #dc3545;
}

.restart-button {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 2px solid #72c191;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
  display: block;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.restart-button:hover {
  background-color: rgba(114, 193, 145, 0.1);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.restart-button:active {
  background-color: rgba(114, 193, 145, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.quizfinal {
  text-align: center;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.niveis {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
  transition: background 0.3s ease;
}

.niveis:hover {
  background: white;
  color: black;
}
